<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <h2 id="bookLess-heading2" style="color:#000000;text-align:center;">Are you BookLess?</h2>
        <h5 id="bookLess-heading4" style="color:#000000;text-align:center;">We'll help you find your next favorite book.</h5>
        <div style="text-align:center;">
            <img src="img/N7UMA8QdTS2a6D1qLMDT_6.png" width="90%" height="auto">
        </div>
        <button ng-click="facebookSignIn()" id="bookLess-button4" class="button button-positive button-block icon-left ion-social-facebook">Sign in with Facebook</button>
    </ion-content>
</ion-view>
